body {
    background-image: url(/image/ElfenLied.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgba(0, 103, 121, 0.571); 
}


h2 {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgb(8, 138, 138); 
}



h3 {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgb(39, 212, 212); 
}
h4 {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgb(17, 255, 0); 
}

.footer {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgb(255, 255, 255);
}