header {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    
}
body {
    background-image: url(/image/pixlr-image-generator-f52567ea-1762-49b4-a756-ac312b781ce0.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: #d63c3c;
    height: 100vh;
    margin: 0;
}

h1 {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: rgba(24, 0, 245, 0.733);
}
  
h2 {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: rgb(7, 169, 61);
  }



h3 {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgb(5, 232, 51); 
}

.footer {
    margin: 20;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: Chancery, cursive;
    color:rgb(255, 255, 255);
}