*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body {
    width: 100px;
    
    justify-content: center;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    height: auto;
   text-align: center;
}

header {
    text-align: right;
    color: blue ;
}
 h2, h3 {
text-align: center;
width: 100%;
justify-items: center; 
color: aqua;
}

p {
    text-align: center;
}
#produtos-f {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (200px, ifr));
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.imagem-produto {
    width: 100px;
    margin: 10px;
    border: 1px solid chocolate;
    padding: 10px;
    text-align: center;
}

.produto image {
    max-width: 150%;
    height: 100px;
    margin: 10px;
}

img {
    width: 150px; 
    height: 150px; 
}


.produto button{
    background-color: aquamarine;
    border: none;
    color: aqua;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
}

#carrinho {
    list-style: none;
    padding: 0%;
    margin-bottom: 5px;
    border-bottom: 1wq px solid antiquewhite;
    padding-bottom: 0px;
}

#carrinho li span{
    margin-right: 5px;
    
    
}
.carrinho li button {
    background-color: azure;
    border: none;
    color: aqua;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

#total {
margin-top: 20px;
font-weight: bold;
}